<!DOCTYPE html>
<html  ng-app="app" >
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="controlador as lista" >

    <input type="text" ng-model="lista.nombre"/>
    <input type="text" ng-model="lista.precio"/>
    <input type="button" value="Añadir" ng-click="lista.addProducto()">

    <!--<input type="text" ng-model="nombre"/>
    hola {{nombre}}!{{apellido}}-->

    <li ng-repeat="producto in lista.productos">
        {{producto.nombre}}
    </li>
    
</body>
</html>
