@font-face {
    font-family: "Oswald-Bold";
    src: url('../font/gravity/Gravity-Bold.otf');
}

@font-face {
    font-family: "Oswald-ExtraLight";
    src: url('../font/gravity/Gravity-UltraLight.otf');
}

@font-face {
    font-family: "Oswald-Light";
    src: url('../font/gravity/Gravity-Light.otf');
}

@font-face {
    font-family: "Oswald-Medium";
    src: url('../font/gravity/Gravity-Regular.otf');
}

@font-face {
    font-family: "Oswald-Regular";
    src: url('../font/gravity/Gravity-Regular.otf');
}

@font-face {
    font-family: "Oswald-SemiBold";
    src: url('../font/gravity/Gravity-Book.otf');
}