@font-face {
    font-family: "Oswald-Bold";
    src: url('../font/ageo/AgeoPersonalUse-Bold.otf');
}

@font-face {
    font-family: "Oswald-ExtraLight";
    src: url('../font/ageo/AgeoPersonalUse-Light.otf');
}

@font-face {
    font-family: "Oswald-Light";
    src: url('../font/ageo/AgeoPersonalUse-Light.otf');
}

@font-face {
    font-family: "Oswald-Medium";
    src: url('../font/ageo/AgeoPersonalUse-Medium.otf');
}

@font-face {
    font-family: "Oswald-Regular";
    src: url('../font/ageo/AgeoPersonalUse-Thin.otf');
}

@font-face {
    font-family: "Oswald-SemiBold";
    src: url('../font/ageo/AgeoPersonalUse-SemiBold.otf');
}