#titulo_banner {
    font-style: normal;
    font-size: 160px;
    font-family: "coolvetica_rg";
    color: #a88245;
}

#borde-menu:hover {
    background-color: rgb(35, 149, 246);
}

#subtitulo_banner {
    font-style: normal;
    font-size: 25px;
    /*font-family: "coolvetica_rg", Arial;*/
    font-family: "HelveticaNeueThn";
    color: #a88245;
}

#seccion_elegir_empresa {
    height: 50vh;
    background-image: url("../img/wallpaper_medico.png");
    background-size: 150vw;
    background-color: rgb(29, 55, 93);
    background-blend-mode: screen;
    color: white;
    /**
    Permite que el contenido se pueda centrar verticalmente
    */
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
    /* Set a specific height */
    /*background-size: cover;*/
}

#seccion_contactenos {
    background-image: url("../img/wallpaper_medico.png");
    background-size: 150vw;
    background-color: rgb(29, 55, 93);
    background-blend-mode: screen;
    color: white;
    padding: 50px;
}

#seccion_servicios {
    /*display: none;*/
    /*height: 200px;*/
    /*height: 50vh;*/
}

#subtitulo {
    color: white;
}

#pie_pagina {
    background-color: rgb(35, 149, 246);
    font-size: 13px;
    height: 50px;
    width: 100%;
    color: white;
    vertical-align: middle;
    display: table;
    padding-left: 20px;
}

/**
Permite corregir el tamaño del carrusel para establecer el tamaño del alto de la pantalla
*/

.carousel-item {
    height: 100vh;
}

@font-face {
    font-family: "coolvetica_rg";
    src: url('font/coolvetica_rg.ttf');
}

@font-face {
    font-family: "HelveticaNeueThn";
    src: url('font/HelveticaNeue-Thin.ttf');
}

.navbar {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding-top: 50px;
    padding-right: 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-expand-lg .navbar-collapse {
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 49%, rgba(24, 83, 160, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(1%, rgba(255, 255, 255, 0)), color-stop(49%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(24, 83, 160, 1)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 49%, rgba(24, 83, 160, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 49%, rgba(24, 83, 160, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 49%, rgba(24, 83, 160, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 0) 49%, rgba(24, 83, 160, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#1853a0', GradientType=1);
}

.form-control {
    background-color: transparent;
}

/**
* CAMBIA EL COLOR DEL INPUT TEXT DEL PLACEHOLDER
*/
input::-webkit-input-placeholder {
    color: white !important;
}

input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

input:-ms-input-placeholder {
    color: white !important;
}

/**
* CAMBIA EL COLOR DEL PLACE HOLDER PARA LOS AREA TEXT
*/
textarea::-webkit-input-placeholder {
    color: white !important;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

textarea:-ms-input-placeholder {
    color: white !important;
}