#titulo_banner {
    font-style: normal;
    font-size: 160px;
    font-family: "coolvetica_rg";
    color: #a88245;
}

#subtitulo_banner {
    font-style: normal;
    font-size: 25px;
    /*font-family: "coolvetica_rg", Arial;*/
    font-family: "HelveticaNeueThn";
    color: #a88245;
}

#seccion_elegir_empresa {
    height: 50vh;
    background-image: url("../img/wallpaper_medico.png");
    background-size: 150vw;
    background-color: rgb(29, 55, 93);
    background-blend-mode: screen;
    color: white;
    /**
    Permite que el contenido se pueda centrar verticalmente
    */
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;*/
      /* Set a specific height */
    /*background-size: cover;*/
}

#seccion_contactenos {
    height: 50vh;
    background-image: url("../img/wallpaper_medico.png");
    background-size: 150vw;
    background-color: rgb(29, 55, 93);
    background-blend-mode: screen;
    color: white;

}

#seccion_servicios
{
    /*display: none;*/
    /*height: 200px;*/
    /*height: 50vh;*/
}

#subtitulo {
    color: white;
}

/**
Permite corregir el tamaño del carrusel para establecer el tamaño del alto de la pantalla
*/

.carousel-item {
    height: 100vh;
}

@font-face {
    font-family: "coolvetica_rg";
    src: url('font/coolvetica_rg.ttf');
}

@font-face {
    font-family: "HelveticaNeueThn";
    src: url('font/HelveticaNeue-Thin.ttf');
}